<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.smarket_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 인스턴스 ID 자동 초기화 방지 -->
    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_smarket"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_smarket_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NewSearch.newsearch_fragment"
            android:label="@string/title_activity_newsearch_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AppOnpage.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainNavigation.MainNavigationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Hotdeal.hotdeal_webView" />
        <!--
<receiver android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

        <receiver android:name=".MainNavigation.AlarmReceiver" />

        <service
            android:name=".AppOnpage.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".AppOnpage.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>